<%- contentFor("head") %>
<title>Error <%= errorCode %></title>
<%- contentFor("body") %>
<div class="text-center sm:text-left">
  <div class="prose max-w-none">
    <h1 class>Error <%= errorCode %></h1>
    <p><%= msg %></p>
  </div>
  <a class="btn btn-outline btn-neutral mt-8" href="/">Back to civilisation</a>
</div>
