<!doctype html>
<html lang="en">
  <head class="scroll-pt-20">
    <%- head %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <%- include("partials/icons") %>
  </head>
  <body>
    <a
      href="#main-content"
      class="fixed top-0 z-50 left-1/2 -translate-x-1/2 min-w-fit -translate-y-full focus:translate-y-20 transition p-6 rounded-lg text-xl bg-black text-white font-extrabold"
      >Skip to content</a
    >
    <%- include("partials/header") %> <% if (locals.nav === true) { %>
    <div class="drawer lg:drawer-open">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-side z-20 mt-16 lg:mt-0 min-h-fit h-screen lg:z-0 lg:top-16 lg:h-[calc(100svh-4rem)]"
      >
        <label
          for="nav-drawer"
          aria-label="close sidebar"
          class="drawer-overlay print:hidden"
        ></label>
        <aside
          class="bg-base-100 overflow-y-auto min-h-fit h-[calc(100svh-4rem)] min-w-72 lg:overflow-y-visible lg:z-10 lg:min-h-0 lg:min-w-56 lg:h-fit"
        >
          <div>
            <%- include("partials/nav") %>
            <div
              class="bg-base-100 pointer-events-none sticky bottom-0 flex h-20 [mask-image:linear-gradient(transparent,#000000)]"
            ></div>
          </div>
        </aside>
      </div>
      <% } %>
      <div
        class="drawer-content border-base-300 lg:border-l p-0 mx-auto lg:m-0 max-w-4xl min-h-[calc(100svh-4rem)]"
      >
        <main id="main-content" class="pt-8 pb-20 px-8 w-full">
          <%- body %>
        </main>
      </div>
      <% if (locals.nav === true) { %>
    </div>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
