<%- contentFor("head") %>
<title>Articles</title>
<%- contentFor("body") %>
<div class="prose max-w-none mb-4">
  <h1>Articles</h1>
  <p>
    These articles mostly fall into two categories: things I find cool or are
    working on, or issues I've run into on my system that I feel others could
    benefit from the solution to.
  </p>
  <p>If it falls into the latter category, follow at your own risk!</p>
</div>
<ul class="list bg-base-100 rounded-box border border-base-200">
  <!-- -->
  <%- include("../partials/articleListItem", {
		title: "Migrating to Express.js",
		date: "2024-11-04",
		desc: "I go over the justification, process, and next steps after migrating this website to Express.js.",
		href: "migration-express-20241104.ejs" }) %>
  <%-
    include("../partials/articleListItem", {
		title: "Project: grzetris",
		date: "2024-10-07",
		desc: "I announce grzetris! A *tris clone that I've been working on in my free time.",
		href: "grzetris-release-20241007.ejs" }) %>
  <%- include("../partials/articleListItem", {
		title: "DoT: Setting up DNS over TLS on OpenRC",
		date: "2024-10-07",
		desc: "I go over the process of setting up DNS over TLS on my OpenRC gentoo machine using Stubby, Dnsmasq and NetworkManager.", href: "dnstls-dnsmasq-stubby-20240318.ejs" }) %>
  <%-
    include("../partials/articleListItem", {
		title: "Hyprland: Nvidia PRIME and suspend issues",
		date: "2024-03-12",
		desc: "I discuss the issues I had with my laptop's Nvidia card on Hyprland, GPU suspend problems, and the solutions I ended finding for them.",
		href: "hyprland-nvidia-prime-20240312.ejs" }) %>
</ul>
